<form action="/home" method="POST">
        <label for="emailAddress"> User name </label><br />
    	<input type="text" name="emailAddress"/><br />
    	<label for="Password"> Password </label><br />
    	<input type="password" id="password" name="password"/><br />
    	<input type="submit" />
    </form>